@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.sidebar-divider {
  border-bottom: 1px solid #ffffff26;
  margin: 0 8% 8%;
}
.navbar-divider {
  border-left: 1px solid #858796;
  padding: 18px 0;
}
.sidebar-heading {
  color: #ffffff66;
  text-align: left;
  padding: 0 8%;
  font-weight: 800;
  font-size: .65rem;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

